<ul class="menu">
    <li class="menu__item">
        <a title="GitHub" class="menu__link" href="https://github.com/elidianaandrade" target="_blank">
            <i class="bi bi-github"></i>
        </a>
    </li>
    <li class="menu__item">
        <a title="Instagram" class="menu__link" href="https://www.instagram.com/elicosmaker/" target="_blank">
            <i class="bi bi-instagram"></i>
        </a>
    </li>
    <li class="menu__item">
        <a title="LinkedIn" class="menu__link" href="https://www.linkedin.com/in/elidianaandrade/" target="_blank">
            <i class="bi bi-linkedin"></i> 
        </a>
    </li>
</ul>