<div class="container__articles">
    <main class="articles__main">
        <app-card cardType="card-big"
            id="0"
            cardTitle="Crie Seu Próprio Web Component"
            cardDescription="Explore o conceito de Web Components, criando seu próprio componente em JavaScript."
            cardCover="https://elidianaandrade.github.io/assets/images/articles/article04.jpg"
        >
        </app-card>
    </main>

    <section class="articles__others">
        <app-card cardType="card-small"
            id="1"
            cardTitle="Destrave seu primeiro Desafio de Código"
            cardDescription="Saiba identificar as barreiras que estão te travando no seu desafio de código."
            cardCover="https://elidianaandrade.github.io/assets/images/articles/article01.jpg"
        >
        </app-card>
        <hr>
        <app-card cardType="card-small"
            id="2"
            cardTitle="5 Dicas para Melhorar seu Profile README do GitHub"
            cardDescription="Confira dicas para organizar de forma harmônica seu perfil do GitHub."
            cardCover="https://elidianaandrade.github.io/assets/images/articles/article00.jpg"
        >
        </app-card>
        <hr>
        <app-card cardType="card-small"
            id="3"
            cardTitle="Aprenda a publicar seu Desafio de Projeto"
            cardDescription="Conheça algumas formas gratuitas de colocar o seu site no ar."
            cardCover="https://elidianaandrade.github.io/assets/images/articles/article02.jpg"
        >
        </app-card>
    </section>
</div>